@charset 'utf-8';
$divide: 10;
$psWidth: 375;
$ppr: 375px / $divide / 1rem;

@mixin toRem($property, $values...){
	$max: length($values);
	$remValues: '';
	@for $i from 1 through $max{
		$value: nth($values, $i) * $divide / $psWidth;
		$remValues: #{$remValues + $value}rem;
		@if $i < $max{
			$remValues: #{$remValues + " "};
		}
	}
	#{$property}: $remValues;
}